* {
    padding: 0;
    margin: 0;
}

.card {
    height: 50px;
    padding: 10px;
}

.child {
    flex: 1;
    text-align: center;
}

a {
    text-decoration: none;
}

.bi-trash {
    cursor: pointer;
}