<ng-container *ngIf="vm">
    
    <div class="p-2 mb-5 w-100">
        <div class="line d-flex justify-content-between w-100 mb-2">
            <div class="placeholder"></div>
            <div class="text-center">
                <h1>Edit company</h1>
            </div>
            <div class="button">
                <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <form [formGroup]="editCompanyForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input 
                            type="text" 
                            class="form-control" 
                            formControlName="name" 
                            title="Company name"
                            [ngClass]="{ 'red' : (editCompanyForm.controls.name.dirty || editCompanyForm.controls.name.touched) && editCompanyForm.controls.name.invalid }">
                    <small *ngIf="editCompanyForm.controls.name.invalid">This field is required!</small>
                </div>
                
                <div class="form-group">
                    <select 
                            class="form-control" 
                            formControlName="businessId"
                            title="Business"
                            [ngClass]="{ 'red' : (editCompanyForm.controls.businessId.dirty || editCompanyForm.controls.businessId.touched) && editCompanyForm.controls.businessId.invalid }">
                        <option [ngValue]="bus.id" *ngFor="let bus of vm.businesses">{{ bus.name }}</option>
                    </select>
                    <small *ngIf="editCompanyForm.controls.businessId.invalid">This field is required!</small>
                </div>
                
                <div class="form-group">
                    <input 
                            type="text" 
                            class="form-control" 
                            formControlName="address" 
                            title="Company address">
                    <small *ngIf="editCompanyForm.controls.address.invalid">This field is required!</small>
                </div>
                
                <div class="form-group">
                    <input 
                            type="text" 
                            class="form-control" 
                            formControlName="country" 
                            title="Company country"
                            [ngClass]="{ 'red' : (editCompanyForm.controls.country.dirty || editCompanyForm.controls.country.touched) && editCompanyForm.controls.country.invalid }">
                    <small *ngIf="editCompanyForm.controls.country.invalid">This field is required!</small>
                </div>
                <div class="form-group">
                    <input 
                            type="text" 
                            class="form-control" 
                            formControlName="image" 
                            title="Company image" 
                            placeholder="Enter image string">
                    <small *ngIf="editCompanyForm.controls.image.invalid">This is not an image!</small>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" [disabled]="editCompanyForm.invalid || editCompanyForm.pristine">Edit Company</button>
                </div>
            </form>
        </div>
    </div>

</ng-container>