<ng-container *ngIf="employees$ | async as employees">
    <div>
        <div>
            <button type="button" class="btn btn-primary mb-2" routerLink="../new-employee">Create new employee</button>
        </div>
        <div *ngIf="employees.length > 0; else message">
            <ul>
                <li *ngFor="let employee of employees | paginate: { itemsPerPage: 10, currentPage: p }">
                    <div class="card">
                        <div>
                            <h5 class="text-center">{{ employee.firstName }} {{ employee.lastName }}</h5>
                            <p>Iskustvo: <strong>{{ employee.yearsOfService | underscore }}</strong></p>
                            <span class="d-flex justify-content-center">Odmor: <div class="circle" [ngClass]="{ 'red': !employee.onVacation, 'green': employee.onVacation }"></div></span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="d-flex justify-content-end">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
        <ng-template #message>
            <h4>There is no employees for company yet!</h4>
        </ng-template>
    </div>
</ng-container>