<div class="d-flex justify-content-center">
    <form #createDepartmentForm="ngForm" (ngSubmit)="onSubmit(createDepartmentForm)">
        <div class="form-group">
            <input type="text" class="form-control" name="name" title="Name" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="companyId" title="Company" placeholder="CompanyID" [disabled]="1===1">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="createDepartmentForm.value.invalid">Create Department</button>
        </div>
    </form>
</div>