<!-- "client": {
    "tags": []
  },
  "client-e2e": {
    "tags": []
  },
  "companies-data": {
    "tags": ["domain:companies", "type:data"]
  },
  "companies-feature": {
    "tags": ["domain:companies", "type:feature"]
  },
  "companies-model": {
    "tags": ["domain:companies", "type:model"]
  },
  "companies-ui": {
    "tags": ["domain:companies", "type:ui"]
  },
  "departments-data": {
    "tags": ["domain:departments", "type:data"]
  },
  "departments-feature": {
    "tags": ["domain:departments", "type:feature"]
  },
  "departments-model": {
    "tags": ["domain:departments", "type:model"]
  },
  "departments-ui": {
    "tags": ["domain:departments", "type:ui"]
  },
  "employees-data": {
    "tags": ["domain:employees", "type:data"]
  },
  "employees-feature": {
    "tags": ["domain:employees", "type:feature"]
  },
  "employees-model": {
    "tags": ["domain:employees", "type:model"]
  },
  "employees-ui": {
    "tags": ["domain:employees", "type:ui"]
  } -->