<ul class="nav nav-tabs d-flex justify-content-center">
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" routerLink="departments">Departments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" routerLink="employees">Employees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" routerLink="edit">Edit</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content mt-3">
    <router-outlet></router-outlet>
</div>