<app-header></app-header>
<router-outlet></router-outlet>
<!-- <div class="container">
    <div class="d-flex justify-content-center">
        <ul class="w-100">
            <li>
                <div class="card">
                    <div class="text-center d-flex justify-content-center">
                        <div><h5>Asus laptop</h5></div>
                        <div><img src="zvljadg" alt=""></div>
                    </div>
                    <div class="w-100 mt-5 justify-content-between">
                        <div class="row ml-4">
                            <p>ID: <strong>50</strong></p>
                        </div>
                        <div class="row ml-4">
                            <p>Supplier: <strong><i>CT</i></strong></p>
                        </div>
                        <div class="row ml-4">
                            <p>Product Code: <strong>ASDFAS342D</strong></p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="text-center d-flex justify-content-center">
                        <div><h5>Asus laptop</h5></div>
                        <div><img src="zvljadg" alt=""></div>
                    </div>
                    <div class="w-100 mt-5 justify-content-between">
                        <div class="row ml-4">
                            <p>ID: <strong>50</strong></p>
                        </div>
                        <div class="row ml-4">
                            <p>Supplier: <strong><i>CT</i></strong></p>
                        </div>
                        <div class="row ml-4">
                            <p>Product Code: <strong>ASDFAS342D</strong></p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="text-center d-flex justify-content-center">
                        <div><h5>Asus laptop</h5></div>
                        <div><img src="zvljadg" alt=""></div>
                    </div>
                    <div class="w-100 mt-5 justify-content-between">
                        <div class="row ml-4">
                            <p>ID: <strong>50</strong></p>
                        </div>
                        <div class="row ml-4">
                            <p>Supplier: <strong><i>CT</i></strong></p>
                        </div>
                        <div class="row ml-4">
                            <p>Product Code: <strong>ASDFAS342D</strong></p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="text-center d-flex justify-content-center">
                        <div><h5>Asus laptop</h5></div>
                        <div><img src="zvljadg" alt=""></div>
                    </div>
                    <div class="w-100 mt-5 justify-content-between">
                        <div class="row ml-4">
                            <p>ID: <strong>50</strong></p>
                        </div>
                        <div class="row ml-4">
                            <p>Supplier: <strong><i>CT</i></strong></p>
                        </div>
                        <div class="row ml-4">
                            <p>Product Code: <strong>ASDFAS342D</strong></p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="text-center d-flex justify-content-center">
                        <div><h5>Asus laptop</h5></div>
                        <div><img src="zvljadg" alt=""></div>
                    </div>
                    <div class="w-100 mt-5 justify-content-between">
                        <div class="row ml-4">
                            <p>ID: <strong>50</strong></p>
                        </div>
                        <div class="row ml-4">
                            <p>Supplier: <strong><i>CT</i></strong></p>
                        </div>
                        <div class="row ml-4">
                            <p>Product Code: <strong>ASDFAS342D</strong></p>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="card">
                    <div class="text-center d-flex justify-content-center">
                        <div><h5>Asus laptop</h5></div>
                        <div><img src="zvljadg" alt=""></div>
                    </div>
                    <div class="w-100 mt-5 justify-content-between">
                        <div class="row ml-4">
                            <p>ID: <strong>50</strong></p>
                        </div>
                        <div class="row ml-4">
                            <p>Supplier: <strong><i>CT</i></strong></p>
                        </div>
                        <div class="row ml-4">
                            <p>Product Code: <strong>ASDFAS342D</strong></p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="text-center d-flex justify-content-center">
                        <div><h5>Asus laptop</h5></div>
                        <div><img src="zvljadg" alt=""></div>
                    </div>
                    <div class="w-100 mt-5 justify-content-between">
                        <div class="row ml-4">
                            <p>ID: <strong>50</strong></p>
                        </div>
                        <div class="row ml-4">
                            <p>Supplier: <strong><i>CT</i></strong></p>
                        </div>
                        <div class="row ml-4">
                            <p>Product Code: <strong>ASDFAS342D</strong></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div> -->

